@import url('https://fonts.googleapis.com/css2?family=Lato');


body{
    background-color: #eb2a2a;
    font-family: Lato;
    margin: 0px;
    padding: 0px;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1170px;
    margin: auto;
}

.navbar-brand img {
  height: 60px;
}

h1.logo {
    font-size: 3.5rem;
    text-transform: uppercase;
    text-align: justify;
    letter-spacing: 3px;
    color: #fafafa;
    font-family: bangers;
}

#cta-buttons .btn{
	float: right; 
	clear: both;
	margin-bottom: 5px;

}

.contact-button {
	margin-right: 15px;
}

.banner {
    background-color: grey;
        display: flex;
        justify-content: space-between;
}

.btn-row {
  display: flex;
  justify-content: space-around;
  margin: 10px 5px;
}

@media (min-width: 768px) {
  .top-row {
    display: inline-flex;
    
}
  
.btn-row {
    display: inline-flex;
}
  
div.container{
    background-color: cyan;
}
.navbar-collapse {
    justify-content: center;
}

/*-------------------------Quotes------------------*/

.blockquote {
    font-size: 12px;
}
.motivation-heading {
    font-size: 20px;
    text-transform: uppercase;
}

/*-------------------------Carousel------------------*/



/*-------------------------Cards------------------*/

.card-body {
    padding: 0.5rem;
}

.card {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    text-align: center;
    box-shadow: 5px 4px 0px #777;
}

.card-deck .card {
    -ms-flex: 1 0 0%;
    flex: 10 0%;
    margin-right: 15px;
    margin-bottom: 10px;
    margin-left: 15px;
}

.cardcolor1 {
    background-color: #669999;
}

.cardcolor2 {
    background-color: #cc6666; 
    
}

.cardcolor3 {
    background-color: #cc9966;
}

.cardcolor4 {
    background-color: #ccac66;
}

/*-------------------------Gallery------------------*/


.photos img {
    /* border: 1px solid #fff; */
    border-radius: 4px;
    padding: 5px;
    width: 100%;
    align-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 5px 4px 0px #adb5bd;
}

/*-------------------------Footer------------------*/
p {
    color: #999;
    min-height: 40px;
}

h2 {
    color: #fff;
    font-size: 18px;
    text-align: center;     
}

.footer-top {
    background: rgb(128, 4, 4);
    padding: 10px 0px;
    color: #fafafa;
}

.row{
    padding-bottom: 10px;
    text-align: center;
    padding: 15px;
}
.address-section h2 {
    font-family: Lato;
    color: #fff;
    letter-spacing: 3px;
    margin: 10px 0;
    text-transform: uppercase;
    
}
.address-section {
    font-size: 10px;
    width: 100%;
    color: #fafafa;
    text-align: center;

}

.social-section h2 {
    font-family: Lato;
    color: #fff;
    margin: 10px 0;
    letter-spacing: 3px;
    text-transform: uppercase;
}

a {
    padding-bottom: 10px;
   
}
.social-section a{
    background: #494848;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    
}

.social-section a i{
    font-size: 20px;
    color:#fff;
    padding: 10px 12px;
    border-radius: 40px;
    
}

.contact-section h2 {
    font-family: Lato;
    color: #fff;
    letter-spacing: 3px;
    margin: 10px 0;
    text-transform: uppercase;    
}

.contact-section p {
    font-size: 10px;
    color: #fafafa;
    text-align: center;
}

/*-------------------------Gallery------------------*/

.photos img{
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 5px; 
    width: 100%;
    align-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}


/*----------CARD------------------*/

.card {
    justify-content: space-between;
}


