@import url('https://fonts.googleapis.com/css2?family=Lato');

body{
    background-color: #eb2a2a;
    font-family: Lato;
}

* {
  margin: 0;
  box-sizing: border-box;
  }

.navbar-brand img {
  height: 60px;
}


h1{
    font-size: 3.5rem;
    text-transform: uppercase;
    text-align: justify;
    color: #fafafa;
    font-family: bangers;
}

.top-row {
  text-align: center;
  justify-content: space-around;
  padding: 10px;
  margin: 0px;
}
.banner {
  align-items: center;
  background-color: grey;
}

.btn-row {
  display: flex;
  justify-content: space-around;
  margin: 10px 5px;
}

@media (min-width: 768px) {
  .top-row {
    display: inline-flex;
    
}
  
.btn-row {
    display: inline-flex;
}
  
.banner {
    display: flex;
    justify-content: space-between;
}

img {
    border-radius: 100%;
}

div.container{
    background-color: cyan;
}
.navbar-collapse {
    justify-content: center;
}

</*-------------------------Gallery------------------*/>



</*-------------------------Footer------------------*/>
p {
    color: #999;
    min-height: 120px;
}

h2 {
    color: #fff;
    font-size: 18px;
    text-align: center;     
}

.footer-top {
    background: rgb(128, 4, 4);
    padding: 25px 0px
    color: #fafafa;
}
.row{
    padding-bottom: 10px;
    text-align: center;
    padding: 15px;
}
.segment-one h2 {
    font-family: Lato;
    color: #fff;
    letter-spacing: 3px;
    margin: 10px 0;
    text-transform: uppercase;
    
}
.segment-one span{
    font-size: 10px;
    display: block;
    width: 100%;
    color: #fafafa;
    text-align: center;
}
.segment-one p{
    font-size: 10px;
}

.segment-two h2 {
    font-family: Lato;
    color: #fff;
    margin: 10px 0;
    letter-spacing: 3px;
    text-transform: uppercase;
    
}

a {
    padding-bottom: 10px;
    
    
}
.segment-two a{
    background: #494848;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    
}

.segment-two a i{
    font-size: 20px;
    color:#fff;
    padding: 10px 12px;
    
}

.segment-three h2 {
    font-family: Lato;
    color: #fff;
    letter-spacing: 3px;
    margin: 10px 0;
    text-transform: uppercase;    
}

.segment-three p {
    font-size: 10px;
    color: #fafafa;
    text-align: center;
}
