@import url('https://fonts.googleapis.com/css2?family=Lato');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}
.navbar-brand img {
  height: 60px;
}
.top-row {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  margin: 0;
}
.banner {
  align-items: center;
}
.btn-row {
  display: flex;
  justify-content: space-around;
  margin: 10px 5px;
}

@media (min-width: 768px) {
  .top-row {
    display: inline-flex;
}
  
.btn-row {
    display: inline-flex;
}
  
.banner {
    display: flex;
    justify-content: space-between;
}

img {
    border-radius: 100%;
}

div.container{
    background-color: cyan;
}

</*-----Footer------*/>
p {
    color: #999;
    min-height: 120px;
}

h2 {
    color: #fff;
    font-size: 18px;
    text-align: center;
    
}
.footer-top {
    background: #111;
    padding: 80px 0;
}
.segment-one h2 {
    font-family: Lato;
    color: #fff;
    letter-spacing: 3px;
    margin: 10px 0;
    text-transform: uppercase;
}

.segment-one p{
    font-size: 10px;
}

.segment-two h2 {
    font-family: Lato;
    color: #fff;
    margin: 10px 0;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.segment-two a{
    background: #494848;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
}
.segment-two a i{
    font-size: 20px;
    color:#fff;
    padding: 10px 12px;
}

.segment-three h2 {
    font-family: Lato;
    color: #fff;
    letter-spacing: 3px;
    margin: 10px 0;
    text-transform: uppercase;
}

.segment-three p {
    font-size: 10px;
}
